// 文章的描述description
.posts-expand .post-meta .post-description {
    font-style: italic;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #666;
}

// 自定义的文章摘要图片样式
img.img-topic {
    width: 100%;
}